<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoxu.highvolumeretailstoreappointmentsystem.db.mappers.AppointmentMapper">
  <resultMap id="BaseResultMap" type="com.haoxu.highvolumeretailstoreappointmentsystem.db.po.Appointment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appointment_no" jdbcType="VARCHAR" property="appointmentNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="appointment_inventory_id" jdbcType="INTEGER" property="appointmentInventoryId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="appointment_count" jdbcType="INTEGER" property="appointmentCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appointment_no, status, appointment_inventory_id, user_id, appointment_count, 
    create_time, confirm_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appointment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appointment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haoxu.highvolumeretailstoreappointmentsystem.db.po.Appointment">
    insert into appointment (id, appointment_no, status, 
      appointment_inventory_id, user_id, appointment_count, 
      create_time, confirm_time)
    values (#{id,jdbcType=INTEGER}, #{appointmentNo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{appointmentInventoryId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{appointmentCount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{confirmTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.haoxu.highvolumeretailstoreappointmentsystem.db.po.Appointment">
    insert into appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appointmentNo != null">
        appointment_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="appointmentInventoryId != null">
        appointment_inventory_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="appointmentCount != null">
        appointment_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="confirmTime != null">
        confirm_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appointmentNo != null">
        #{appointmentNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="appointmentInventoryId != null">
        #{appointmentInventoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="appointmentCount != null">
        #{appointmentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haoxu.highvolumeretailstoreappointmentsystem.db.po.Appointment">
    update appointment
    <set>
      <if test="appointmentNo != null">
        appointment_no = #{appointmentNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="appointmentInventoryId != null">
        appointment_inventory_id = #{appointmentInventoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="appointmentCount != null">
        appointment_count = #{appointmentCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haoxu.highvolumeretailstoreappointmentsystem.db.po.Appointment">
    update appointment
    set appointment_no = #{appointmentNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      appointment_inventory_id = #{appointmentInventoryId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      appointment_count = #{appointmentCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByAppointmentNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from appointment
    where appointment_no = #{appointmentNo,jdbcType=VARCHAR}
  </select>
</mapper>