.btn{
    text-decoration: none;
    float: left;
    padding:15px 45px;
    margin:0 0 10px;
    font:18px Sans-serif;
    font-weight:700;
    border-radius:0;
    background-color:#0a4abf;
    color:white;
}