.spots-list{
    margin-bottom:32px
}
.spots-list ul.spot_ul{
    margin-left:-10px
}
.spots-list ul li{
    display:inline-block;
    margin-left:10px;
    margin-top:10px;
    line-height:25px;
    width:280px;
    cursor:pointer;
    border:1px solid transparent
}
.spots-list li.spot-detail .btn-check{
    font:18px Sans-serif;
    padding:15px 0;
    margin-top:10px;
    border:0;
    border-radius:0;
    background-color:#0a4abf;
    color:white;
}


.btn-block{
    display:block;
    width:100%;
    text-decoration: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin-left:0;
    margin-bottom:0;
    line-height:18px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}