<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

  <title>Tech Service Appointment</title>

  <link rel="stylesheet" type="text/css" href="/css/global.css"/>
  <link rel="stylesheet" type="text/css" href="/css/btn.css" />
  <link rel="stylesheet" type="text/css" href="/css/main_page.css" />
</head>

<body>

  <div style="margin-left: 2em;">
    <div style="margin-left: 40px;">
      <h1 style="color:#0a4abf">Better Buy - Tech Service Appointment Portal</h1>
      <h3>Schedule an appointment with a tech specialist today</h3>
      <h3>Find available spots and make an appointment</h3>
      <h3>New spots for next day will be available at 12:00 a.m. daily</h3>
    </div>

    <br>
    <br>
    <!--select date and time-->
    <div style="margin-left: 40px;">
      <span>
        <label>Choose a date:</label>
        <select name="date">
          <option>November 7th</option>
          <option>November 8th</option>
        </select>

        <label style="margin-left: 15px;">Choose a time:</label>
        <select name="time">
          <option >9:00 a.m.</option>
          <option>11:00 a.m.</option>
          <option>1:00 p.m.</option>
          <option>3:00 p.m.</option>
        </select>
      </span>
    </div>


    <br>
    <br>

    <div class="spots-list" id="app">
      <ul class="spot_ul" id="appointment" style="list-style-position:inside;">
        <tr th:each="appointment_inventory,vStat : ${appointmentInventories}">
          <li class="spot-detail" style="border:1px solid;border-color: #B0B0B0;">
            <div style="padding-left: 3px;">
              <b th:text="${shops[vStat.index].name}"></b>
            </div>
            <div style="padding-left: 3px;">
              <span th:text="${shops[vStat.index].address}"></span>
            </div>
            <br>
            <div style="padding-left: 3px;">
              <span th:text="${appointment_inventory.name}"></span>
            </div>
            <div style="padding-left: 3px;">Remaining spots:
              <b style="color:royalblue" th:text="${spots[vStat.index]}"></b>
            </div>
            <a class='btn-block btn-check' th:href="@{'/details/'+${appointment_inventory.id}}" target='_blank'>Check Availability</a>
          </li>
        </tr>
      </ul>
    </div>
  </div>
</body>

</html>
