<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>Appointment Details</title>

    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/css/btn.css"/>
</head>

<body>

<div style="margin-left: 2em;">
    <div>
        <div>
            <h4>Appointment details:</h4>
        </div>
        <div>
            <div>
                <span>Appointment No.：</span><em th:text="${appointment.appointmentNo}"></em>
            </div>
            <div>
                <span>Appointment status：</span>
                <em th:switch="${appointment.status}">
                    <span style="color:orangered" th:case="0">No spot available.</span>
                    <span style="color:royalblue" th:case="1">The appointment has been created, please confirm it.</span>
                    <span style="color:royalblue" th:case="2">The appointment has been confirmed!</span>
                    <span style="color:orangered" th:case="99">Timeout. The appointment has been cancelled.</span>
                </em>
            </div>

            <div>
                <span>Appointment time: </span><em>2021-11-07 <span th:text="${appointmentTime}"></span></em>
            </div>
            <div>
                <span>Store location: </span><em th:text="${shop.address}"></em>
            </div>
            <div>
                <span>Appointment Activity：</span><em th:text="${appointmentInventory.name}"></em>
            </div>
            <div>
                <span>Appointment Creation time：</span><em th:text="${#dates.format(appointment.createTime,'yyyy-MM-dd HH:mm:ss')}"></em>
            </div>
        </div>
    </div>

    <em th:switch="${appointment.status}">
			<span th:case="1">
                <br>
				<div>
					<a class="btn" th:href="@{'/appointment/confirmAppointment/' + ${appointment.appointmentNo}}">Confirm Appointment</a>
				</div>
			</span>
    </em>
</div>
</body>
</html>